{% extends 'base.html' %}

{% block content %}



<div class="row">

    {% include 'dashboards/sidebar.html' %}

    <div class="container col-md-9">
    <h2>Edit Category</h2>
    <form method="POST" action="{% url 'edit_category'  category.pk %}">
        {% csrf_token %}
        <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" class="form-control" id="category" name="category"  style="width: 500px; color: black; font-weight: bold;" value="{{ category }}">
        </div>
        <button type="submit" class="btn btn-primary">Update Category</button>
    </form>
    </div>

</div>
{% endblock %}